.block_main__ictoch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.block_a{
    background-color: #5d46e2;
    border-radius: 20px;
    text-align: center;
    width: 20%;
    height: 80px;
    margin-right: 70px;
}

.block_a > a{
    text-decoration: none;
    color: #1d1d1d;
    font-weight: bold;
    font-size: 28px;
}

.block_a:hover{
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
}

.block_main_img__right{
    border-radius: 20px;
    float: right;
    width: 20%;
    margin-top: -30px;
    margin-right: 5%;
    max-width: 30%;
}

.block_main_img__center{
    border-radius: 12px;
    margin-left: 10%;
    height: 1000px;
    width: 80%;
}

.shadow_text{
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    border-radius: 12px;
    width: 20%;
    height: 60px;
    text-align: center;
    font-size: 22px;
}